.aboutMainBgc {
    background-color: 222222;

}

.AboutBgc {
    color: #fff;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.abBgc img {
    width: 90rem;
}

.aboutHeading {
    margin-right: 10px;
}


.aboutHeading h1 {
    font-size: 2.5rem;
    margin-right: 20px;
    line-height: 1.3;
}

.aboutHeading p {
    font-size: 16px;
    margin-top: 20px;
}

.bestHeading h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    font-size: 50px;
    /* border-bottom: 1px solid red; */
}

.bestPlaceImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}